@import '../../theme/core.scss';

.root {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: $dark-gray;
  height: '100vh';
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: rem(50);
}

.greeting {
  color: white;
  font-size: rem(16);
  position: absolute;
  top: rem(32);
  right: rem(32);
}

.title {
  color: white;
  margin-top: rem(40);
  font-size: rem(52);
  text-align: center;
}

.description {
  color: $light-gray;
  margin-top: rem(24);
  font-size: rem(16);
  text-align: center;
}

.logo {
  width: rem(160);
  height: rem(160);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  max-width: rem(480);
  margin-top: rem(120);
  @include phone {
    width: 100%;
    max-width: 100%;
    margin: rem(120) rem(16);
  }
}

.download {
  width: 45%;
  height: rem(50);
}

.logout {
  width: 45%;
  height: rem(50);
}
