@import './core';

/**
 * ----------------------------------------
 * Base Styles
 * ----------------------------------------
 */

html {
  @include phone {
    font-size: 2.78vw; /* 16px at 576px */
  }

  @include tablet {
    font-size: 2.08vw; /* 16px at 768px */
  }

  @include desktop {
    font-size: 1.33vw; /* 16px at 1200px */
  }

  @include laptop {
    font-size: 1.14vw; /* 16px at 1400px */
  }
}

body {
  font-family: $font-roboto, $font-open-san, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.app {
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: $font-roboto, sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

button {
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  appearance: none;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:disabled {
    opacity: 0.6;
  }
}

p {
  font-family: $font-open-san, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  font-family: $font-open-san, sans-serif;
  text-decoration: underline;
  color: $color-purple;
  &:hover {
    color: $color-pink;
    transition: color 0.3s;
  }
}

textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
.uneditable-input:focus {
  border-color: var(--lightYellowAlpha);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px var(--lightYellowAlpha);
  outline: 0 none;
}

input::-webkit-input-placeholder {
  text-overflow: 'ellipsis !important';
  color: var(--lightGray);
  font-size: 14px;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px var(--lightLightYellowAlpha) inset;
  transition: background-color 5000s ease-in-out 0s;
}
