/**
 * ----------------------------------------
 * Colors
 * -$pinkp----------------------------------
 */

$pink: #ff3b86;
$light-pink: #fcb8d2;

$purple: #9d7fe3;
$light-purple: #c3b6e2;

$gray: #cacaca;
$dark-gray: #333a41;
$light-gray: #f7f9fc;

$gradient-pink-purple: linear-gradient(125.07deg, $pink 0%, $purple 66.18%);

/**
 * ----------------------------------------
 * Fonts
 * ----------------------------------------
 */

$roboto: 'Roboto';
$open-san: 'Open Sans';

/**
 * ----------------------------------------
 * Breakpoints
 * ----------------------------------------Â
 */

$phone: 576;
$tablet: 768;
$laptop: 1152;
