/**
 * ----------------------------------------
 * Colors
 * ----------------------------------------
 */

$color-red: #ff4956;
$color-pink: #ff3b86;
$color-purple: #9d7fe3;
$color-black: #333a41;

/**
 * ----------------------------------------
 * Fonts
 * ----------------------------------------
 */

$font-roboto: 'Roboto';
$font-open-san: 'Open Sans';

/**
 * ----------------------------------------
 * Breakpoints
 * ----------------------------------------Â
 */

$breakpoint-phone: 576;
$breakpoint-tablet: 768;
$breakpoint-laptop: 1200;

/**
 * ----------------------------------------
 * Spacers
 * ----------------------------------------
 */

$spacer: 1rem !default;
$spacer-small: $spacer * 1;
$spacer-medium: $spacer * 2;
$spacer-large: $spacer * 3;
