/**
 * ----------------------------------------
 * Colors
 * ----------------------------------------
 */

$red: #ff4956;
$pink: #ff3b86;
$purple: #9d7fe3;
$dark-gray: #333a41;

/**
 * ----------------------------------------
 * Fonts
 * ----------------------------------------
 */

$roboto: 'Roboto';
$open-san: 'Open Sans';

/**
 * ----------------------------------------
 * Breakpoints
 * ----------------------------------------Â
 */

$phone: 576;
$tablet: 768;
$laptop: 1200;
